[submodule "plugins/discourse-ratings"]
	path = plugins/discourse-ratings
	url = https://github.com/angusmcleod/discourse-ratings
[submodule "plugins/discourse-calender"]
	path = plugins/discourse-calender
	url = https://github.com/tcreativo/plugin_discourse_calendar
[submodule "plugins/discourse-doi-resolver"]
	path = plugins/discourse-doi-resolver
	url = https://github.com/pfaffman/discourse-doi-resolver
[submodule "plugins/discourse-spoiler-alert"]
	path = plugins/discourse-spoiler-alert
	url = https://github.com/discourse/discourse-spoiler-alert.git
[submodule "plugins/discourse-akismet"]
	path = plugins/discourse-akismet
	url = https://github.com/discourse/discourse-akismet.git
[submodule "plugins/discourse-solved"]
	path = plugins/discourse-solved
	url = https://github.com/discourse/discourse-solved.git
[submodule "plugins/discourse-canned-replies"]
	path = plugins/discourse-canned-replies
	url = https://github.com/discourse/discourse-canned-replies.git
[submodule "plugins/discourse-slack-official"]
	path = plugins/discourse-slack-official
	url = https://github.com/discourse/discourse-slack-official.git
[submodule "plugins/discourse-backup-uploads-to-s3"]
	path = plugins/discourse-backup-uploads-to-s3
	url = https://github.com/discourse/discourse-backup-uploads-to-s3.git
[submodule "plugins/discourse-cakeday"]
	path = plugins/discourse-cakeday
	url = https://github.com/discourse/discourse-cakeday.git
[submodule "plugins/discourse-affiliate"]
	path = plugins/discourse-affiliate
	url = https://github.com/discourse/discourse-affiliate.git
[submodule "plugins/discourse-staff-notes"]
	path = plugins/discourse-staff-notes
	url = https://github.com/discourse/discourse-staff-notes.git
[submodule "plugins/discourse-adplugin"]
	path = plugins/discourse-adplugin
	url = https://github.com/discourse/discourse-adplugin.git
[submodule "plugins/discourse-data-explorer.git"]
	path = plugins/discourse-data-explorer.git
	url = https://github.com/discourse/discourse-data-explorer.git
[submodule "plugins/discourse-oauth2-basic"]
	path = plugins/discourse-oauth2-basic
	url = https://github.com/discourse/discourse-oauth2-basic.git
[submodule "plugins/discourse-plugin-linkedin-auth"]
	path = plugins/discourse-plugin-linkedin-auth
	url = https://github.com/discourse/discourse-plugin-linkedin-auth.git
[submodule "plugins/discourse-plugin-office365-auth"]
	path = plugins/discourse-plugin-office365-auth
	url = https://github.com/discourse/discourse-plugin-office365-auth.git
[submodule "plugins/discourse-voting"]
	path = plugins/discourse-voting
	url = https://github.com/discourse/discourse-voting
[submodule "plugins/discourse-patreon"]
	path = plugins/discourse-patreon
	url = https://github.com/discourse/discourse-patreon.git
[submodule "plugins/discourse-assign"]
	path = plugins/discourse-assign
	url = https://github.com/discourse/discourse-assign.git
[submodule "plugins/discourse-adsense"]
	path = plugins/discourse-adsense
	url = https://github.com/discoursehosting/discourse-adsense
[submodule "plugins/discourse-translator"]
	path = plugins/discourse-translator
	url = https://github.com/discourse/discourse-translator.git
[submodule "plugins/retort"]
	path = plugins/retort
	url = http://github.com/gdpelican/retort.git
[submodule "plugins/discourse-omniauth-gitlab"]
	path = plugins/discourse-omniauth-gitlab
	url = http://gitlab.com/gitlab-org/discourse-omniauth-gitlab.git
[submodule "plugins/discourse-topic-previews"]
	path = plugins/discourse-topic-previews
	url = https://github.com/angusmcleod/discourse-topic-previews
[submodule "plugins/discourse-steam-login"]
	path = plugins/discourse-steam-login
	url = https://github.com/discourse/discourse-steam-login
[submodule "plugins/discourse-telegram-notifications"]
	path = plugins/discourse-telegram-notifications
	url = https://github.com/davidtaylorhq/discourse-telegram-notifications
[submodule "plugins/discourse-user-feedback"]
	path = plugins/discourse-user-feedback
	url = https://github.com/JafethDC/discourse-user-feedback
[submodule "plugins/discourse-forcemoderation"]
	path = plugins/discourse-forcemoderation
	url = https://github.com/leodavidson/discourse-forcemoderation
[submodule "plugins/discourse-overwatch-hero-icons"]
	path = plugins/discourse-overwatch-hero-icons
	url = https://github.com/critcola/discourse-overwatch-hero-icons.git
[submodule "plugins/discourse-signatures"]
	path = plugins/discourse-signatures
	url = https://github.com/discourse/discourse-signatures
[submodule "plugins/discourse-push-notifications"]
	path = plugins/discourse-push-notifications
	url = https://github.com/discourse/discourse-push-notifications
[submodule "plugins/discourse-timeline"]
	path = plugins/discourse-timeline
	url = https://github.com/VinkasHQ/discourse-timeline
[submodule "plugins/discourse-guest-gate"]
	path = plugins/discourse-guest-gate
	url = https://github.com/jgujgu/discourse-guest-gate
[submodule "plugins/discourse-media-overlay"]
	path = plugins/discourse-media-overlay
	url = https://github.com/davidtaylorhq/discourse-media-overlay
[submodule "plugins/abbreviation-discourse-plugin"]
	path = plugins/abbreviation-discourse-plugin
	url = https://github.com/PoloGT/abbreviation-discourse-plugin.git
[submodule "plugins/trout_emoji"]
	path = plugins/trout_emoji
	url = https://github.com/eviltrout/trout_emoji
[submodule "plugins/discourse-nationalflags"]
	path = plugins/discourse-nationalflags
	url = https://github.com/Ebsy/discourse-nationalflags
[submodule "plugins/discourse-qa"]
	path = plugins/discourse-qa
	url = https://github.com/angusmcleod/discourse-qa
[submodule "plugins/discourse-quick-messages"]
	path = plugins/discourse-quick-messages
	url = https://github.com/angusmcleod/discourse-quick-messages
[submodule "plugins/discourse-mathjax"]
	path = plugins/discourse-mathjax
	url = https://github.com/kasperpeulen/discourse-mathjax
[submodule "plugins/babble"]
	path = plugins/babble
	url = https://github.com/gdpelican/babble
[submodule "plugins/discourse-formatting-toolbar"]
	path = plugins/discourse-formatting-toolbar
	url = https://github.com/iunctis/discourse-formatting-toolbar
[submodule "plugins/discourse-sidebar-blocks"]
	path = plugins/discourse-sidebar-blocks
	url = https://github.com/pmusaraj/discourse-sidebar-blocks
[submodule "plugins/discourse-wildapricot-auth"]
	path = plugins/discourse-wildapricot-auth
	url = https://github.com/LeoMcA/discourse-wildapricot-auth
[submodule "plugins/discourse-whos-online"]
	path = plugins/discourse-whos-online
	url = https://github.com/davidtaylorhq/discourse-whos-online
[submodule "plugins/discourse-sitemap"]
	path = plugins/discourse-sitemap
	url = https://github.com/discoursehosting/discourse-sitemap
[submodule "plugins/discourse-donations"]
	path = plugins/discourse-donations
	url = https://github.com/chrisbeach/discourse-donations
[submodule "plugins/discourse-layouts"]
	path = plugins/discourse-layouts
	url = https://github.com/angusmcleod/discourse-layouts
[submodule "plugins/discourse-facebook-onebox"]
	path = plugins/discourse-facebook-onebox
	url = https://github.com/vinkas0/discourse-facebook-onebox
[submodule "plugins/discourse-image-gallery"]
	path = plugins/discourse-image-gallery
	url = https://github.com/crob611/discourse-image-gallery
[submodule "plugins/discourse-header-search"]
	path = plugins/discourse-header-search
	url = https://github.com/angusmcleod/discourse-header-search
[submodule "plugins/discourse-content_lockers"]
	path = plugins/discourse-content_lockers
	url = https://github.com/VinkasHQ/discourse-content_lockers
[submodule "plugins/force-signin"]
	path = plugins/force-signin
	url = https://github.com/netdeamon/force-signin
[submodule "plugins/Zendesk-Plugin"]
	path = plugins/Zendesk-Plugin
	url = https://github.com/shivpkumar/Zendesk-Plugin
[submodule "plugins/discourse-migratepassword"]
	path = plugins/discourse-migratepassword
	url = https://github.com/discoursehosting/discourse-migratepassword/
[submodule "plugins/discourse-onesignal"]
	path = plugins/discourse-onesignal
	url = https://github.com/pmusaraj/discourse-onesignal/
[submodule "plugins/discourse-plugin-imgflip"]
	path = plugins/discourse-plugin-imgflip
	url = https://github.com/cpradio/discourse-plugin-imgflip
[submodule "plugins/discourse-konami"]
	path = plugins/discourse-konami
	url = https://github.com/cfstras/discourse-konami
[submodule "plugins/discourse-presence"]
	path = plugins/discourse-presence
	url = https://github.com/discourse/discourse-presence
[submodule "plugins/discourse-post-abbreviations"]
	path = plugins/discourse-post-abbreviations
	url = https://github.com/critcola/discourse-post-abbreviations
[submodule "plugins/discourse-expose-emails-in"]
	path = plugins/discourse-expose-emails-in
	url = https://github.com/mozilla/discourse-expose-emails-in
[submodule "plugins/discourse-nntp-bridge"]
	path = plugins/discourse-nntp-bridge
	url = https://github.com/sman591/discourse-nntp-bridge
[submodule "plugins/discourse-yuml"]
	path = plugins/discourse-yuml
	url = https://github.com/sekhat/discourse-yuml
[submodule "plugins/discourse-hot-topics"]
	path = plugins/discourse-hot-topics
	url = https://github.com/danskdynamit/discourse-hot-topics
[submodule "plugins/discourse-backups-to-dropbox"]
	path = plugins/discourse-backups-to-dropbox
	url = https://github.com/xfalcox/discourse-backups-to-dropbox
[submodule "plugins/discourse-ubuntu-sso"]
	path = plugins/discourse-ubuntu-sso
	url = https://github.com/marcoceppi/discourse-ubuntu-sso
[submodule "plugins/dl-license-keys"]
	path = plugins/dl-license-keys
	url = https://github.com/discourse-league/dl-license-keys
[submodule "plugins/discourse-branding"]
	path = plugins/discourse-branding
	url = https://github.com/vinkas0/discourse-branding
[submodule "plugins/discourse-blocks"]
	path = plugins/discourse-blocks
	url = https://github.com/jgujgu/discourse-blocks
[submodule "plugins/discourse-reset-bump"]
	path = plugins/discourse-reset-bump
	url = https://github.com/LeoDavidson/discourse-reset-bump
[submodule "plugins/garmin_connect_onebox"]
	path = plugins/garmin_connect_onebox
	url = https://github.com/mrloop/garmin_connect_onebox
[submodule "plugins/discourse-plugin-outlet-locations"]
	path = plugins/discourse-plugin-outlet-locations
	url = https://github.com/Mittineague/discourse-plugin-outlet-locations.git
[submodule "plugins/discourse-ldap-auth"]
	path = plugins/discourse-ldap-auth
	url = https://github.com/punitkrjain/discourse-ldap-auth
[submodule "plugins/discourse-plugin-replygif"]
	path = plugins/discourse-plugin-replygif
	url = https://github.com/ligthyear/discourse-plugin-replygif
[submodule "plugins/discourse-playstv-onebox"]
	path = plugins/discourse-playstv-onebox
	url = https://github.com/critcola/discourse-playstv-onebox
[submodule "plugins/discourse-clyp-onebox"]
	path = plugins/discourse-clyp-onebox
	url = https://github.com/critcola/discourse-clyp-onebox
[submodule "plugins/discourse-custom-topic-button"]
	path = plugins/discourse-custom-topic-button
	url = https://github.com/techapj/discourse-custom-topic-button
[submodule "plugins/discourse-basic-links"]
	path = plugins/discourse-basic-links
	url = https://github.com/joebuhlig/discourse-basic-links
[submodule "plugins/discourse-admin-statistics-digest"]
	path = plugins/discourse-admin-statistics-digest
	url = https://github.com/discourse/discourse-admin-statistics-digest
[submodule "plugins/plugin_discourse_dynamic_sidebar"]
	path = plugins/plugin_discourse_dynamic_sidebar
	url = https://github.com/tcreativo/plugin_discourse_dynamic_sidebar
[submodule "plugins/discourse-plugin-checklist"]
	path = plugins/discourse-plugin-checklist
	url = https://github.com/ligthyear/discourse-plugin-checklist
[submodule "plugins/composer-help-button"]
	path = plugins/composer-help-button
	url = https://github.com/cpradio/composer-help-button
[submodule "plugins/discourse-topic-group-button"]
	path = plugins/discourse-topic-group-button
	url = https://github.com/techapj/discourse-topic-group-button
[submodule "plugins/discourse-anonymous-categories"]
	path = plugins/discourse-anonymous-categories
	url = https://github.com/JaredReisinger/discourse-anonymous-categories
[submodule "plugins/discourse-plugin"]
	path = plugins/discourse-plugin
	url = http://github.com/auth0/discourse-plugin
[submodule "plugins/docker_manager"]
	path = plugins/docker_manager
	url = https://github.com/discourse/docker_manager
[submodule "plugins/browser_history"]
	path = plugins/browser_history
	url = https://github.com/discourse/browser_history
[submodule "plugins/discourse-slackdoor"]
	path = plugins/discourse-slackdoor
	url = https://github.com/mcwumbly/discourse-slackdoor
[submodule "plugins/modal-window"]
	path = plugins/modal-window
	url = https://github.com/AlexRabolin/modal-window.git
[submodule "plugins/discourse-slack-plugin"]
	path = plugins/discourse-slack-plugin
	url = https://github.com/bernd/discourse-slack-plugin
[submodule "plugins/discourse-links-category"]
	path = plugins/discourse-links-category
	url = https://github.com/danskdynamit/discourse-links-category
[submodule "plugins/auto-archive"]
	path = plugins/auto-archive
	url = https://github.com/eriko/auto-archive
[submodule "plugins/wechat_qrconnect"]
	path = plugins/wechat_qrconnect
	url = https://github.com/mooosu/wechat_qrconnect
[submodule "plugins/discourse-username-localization"]
	path = plugins/discourse-username-localization
	url = https://github.com/zh99998/discourse-username-localization
[submodule "plugins/discourse-bbcode-lock"]
	path = plugins/discourse-bbcode-lock
	url = https://github.com/vinkas0/discourse-bbcode-lock
[submodule "plugins/Discourse-Webhooks"]
	path = plugins/Discourse-Webhooks
	url = https://github.com/rcfox/Discourse-Webhooks
[submodule "plugins/discourse-plugin-code-fences-buttons"]
	path = plugins/discourse-plugin-code-fences-buttons
	url = https://github.com/ThomDietrich/discourse-plugin-code-fences-buttons
[submodule "plugins/discourse-kinder-guardian"]
	path = plugins/discourse-kinder-guardian
	url = https://github.com/Mittineague/discourse-kinder-guardian
[submodule "plugins/discourse-blogger-plugin"]
	path = plugins/discourse-blogger-plugin
	url = https://github.com/kcoop/discourse-blogger-plugin
[submodule "plugins/trust-level-groups"]
	path = plugins/trust-level-groups
	url = https://github.com/BeastNet/trust-level-groups
[submodule "plugins/steamuser-onebox"]
	path = plugins/steamuser-onebox
	url = https://github.com/MiguelAngelLV/steamuser-onebox
[submodule "plugins/etherpad-lite"]
	path = plugins/etherpad-lite
	url = https://github.com/ether/etherpad-lite/
[submodule "plugins/discourse-plugin-pm-button"]
	path = plugins/discourse-plugin-pm-button
	url = https://github.com/ligthyear/discourse-plugin-pm-button
[submodule "plugins/discourse-awesome-bbcodes"]
	path = plugins/discourse-awesome-bbcodes
	url = https://github.com/rux-pizza/discourse-awesome-bbcodes
[submodule "plugins/algoliasearch-discourse"]
	path = plugins/algoliasearch-discourse
	url = https://github.com/mlamarque/algoliasearch-discourse
[submodule "plugins/yammer-connect"]
	path = plugins/yammer-connect
	url = https://github.com/mlamarque/yammer-connect
[submodule "plugins/plugin_discourse_spreadsheet"]
	path = plugins/plugin_discourse_spreadsheet
	url = https://github.com/tcreativo/plugin_discourse_spreadsheet
[submodule "plugins/discourse-chinese-localization-pack"]
	path = plugins/discourse-chinese-localization-pack
	url = https://github.com/fantasticfears/discourse-chinese-localization-pack
[submodule "plugins/discourse-plugin-autoplay"]
	path = plugins/discourse-plugin-autoplay
	url = https://github.com/dtchau/discourse-plugin-autoplay
[submodule "plugins/discourse-chargebee"]
	path = plugins/discourse-chargebee
	url = https://github.com/liliakai/discourse-chargebee
[submodule "plugins/changetip-discourse"]
	path = plugins/changetip-discourse
	url = https://github.com/jsorchik/changetip-discourse
[submodule "plugins/discourse-persona"]
	path = plugins/discourse-persona
	url = https://github.com/vikhyat/discourse-persona
[submodule "plugins/reply-by-email-TL"]
	path = plugins/reply-by-email-TL
	url = https://github.com/JSey/reply-by-email-TL
[submodule "plugins/blog"]
	path = plugins/blog
	url = https://github.com/samsaffron/blog
[submodule "plugins/discourse-details"]
	path = plugins/discourse-details
	url = https://github.com/discourse/discourse-details
[submodule "plugins/wp-discourse-topic-integration"]
	path = plugins/wp-discourse-topic-integration
	url = https://github.com/matthieu-lapeyre/wp-discourse-topic-integration/
[submodule "plugins/marvelapp_onebox"]
	path = plugins/marvelapp_onebox
	url = https://github.com/naveed-ahmad/marvelapp_onebox
[submodule "plugins/discourse-plugin-shared-edit"]
	path = plugins/discourse-plugin-shared-edit
	url = https://github.com/ligthyear/discourse-plugin-shared-edit
[submodule "plugins/vb_emoji"]
	path = plugins/vb_emoji
	url = https://github.com/cpradio/vb_emoji
[submodule "plugins/discourse-plugin-permalink"]
	path = plugins/discourse-plugin-permalink
	url = https://github.com/ligthyear/discourse-plugin-permalink
[submodule "plugins/discourse-bbcode-color"]
	path = plugins/discourse-bbcode-color
	url = https://github.com/discourse/discourse-bbcode-color.git
[submodule "plugins/vbulletin-bbcode"]
	path = plugins/vbulletin-bbcode
	url = https://github.com/discourse/vbulletin-bbcode.git
[submodule "plugins/discourse-math"]
	path = plugins/discourse-math
	url = https://github.com/discourse/discourse-math
[submodule "plugins/discourse-github-linkback"]
	path = plugins/discourse-github-linkback
	url = https://github.com/discourse/discourse-github-linkback
[submodule "plugins/discourse-styleguide"]
	path = plugins/discourse-styleguide
	url = https://github.com/discourse/discourse-styleguide.git
[submodule "plugins/discourse-saml"]
	path = plugins/discourse-saml
	url = https://github.com/discourse/discourse-saml.git
[submodule "plugins/discourse-group-tracker"]
	path = plugins/discourse-group-tracker
	url = https://github.com/discourse/discourse-group-tracker
[submodule "plugins/discourse-atom-receiver"]
	path = plugins/discourse-atom-receiver
	url = https://github.com/discourse/discourse-atom-receiver
[submodule "plugins/discourse-chat-integration"]
	path = plugins/discourse-chat-integration
	url = https://github.com/discourse/discourse-chat-integration.git
[submodule "plugins/discourse-tooltips"]
	path = plugins/discourse-tooltips
	url = https://github.com/discourse/discourse-tooltips.git
[submodule "plugins/discourse-unhandled-tagger"]
	path = plugins/discourse-unhandled-tagger
	url = https://github.com/discourse/discourse-unhandled-tagger.git
[submodule "discourse-characters-required"]
	path = discourse-characters-required
	url = https://github.com/discourse/discourse-characters-required.git
[submodule "plugins/discourse-characters-required"]
	path = plugins/discourse-characters-required
	url = https://github.com/discourse/discourse-characters-required.git
[submodule "plugins/discourse-no-bump"]
	path = plugins/discourse-no-bump
	url = https://github.com/discourse/discourse-no-bump.git
[submodule "plugins/discourse-events"]
	path = plugins/discourse-events
	url = https://github.com/angusmcleod/discourse-events
[submodule "plugins/discourse-custom-wizard"]
	path = plugins/discourse-custom-wizard
	url = https://github.com/angusmcleod/discourse-custom-wizard
[submodule "plugins/discourse-saved-searches"]
	path = plugins/discourse-saved-searches
	url = https://github.com/discourse/discourse-saved-searches
[submodule "plugins/discourse-category-moderator-lite"]
	path = plugins/discourse-category-moderator-lite
	url = https://github.com/angusmcleod/discourse-category-moderator-lite
[submodule "plugins/discourse-azure-blob-storage"]
	path = plugins/discourse-azure-blob-storage
	url = https://github.com/discourse/discourse-azure-blob-storage
[submodule "plugins/discourse-question-answer"]
	path = plugins/discourse-question-answer
	url = https://github.com/angusmcleod/discourse-question-answer
[submodule "plugins/discourse-etiquette"]
	path = plugins/discourse-etiquette
	url = https://github.com/fantasticfears/discourse-etiquette
[submodule "plugins/discourse-algolia"]
	path = plugins/discourse-algolia
	url = https://github.com/algolia/discourse-algolia
[submodule "plugins/discourse-locations"]
	path = plugins/discourse-locations
	url = https://github.com/angusmcleod/discourse-locations
[submodule "plugins/discourse-mlm-daily-summary"]
	path = plugins/discourse-mlm-daily-summary
	url = https://github.com/joebuhlig/discourse-mlm-daily-summary
[submodule "plugins/discourse-sync-base"]
	path = plugins/discourse-sync-base
	url = https://github.com/berlindiamonds/discourse-sync-base
[submodule "plugins/discourse-response-bot"]
	path = plugins/discourse-response-bot
	url = https://github.com/bolariin/discourse-response-bot
[submodule "plugins/discourse-opencollective-integration"]
	path = plugins/discourse-opencollective-integration
	url = https://github.com/sudaraka94/discourse-opencollective-integration
[submodule "plugins/preventing-malicious-linking-plugin"]
	path = plugins/preventing-malicious-linking-plugin
	url = https://github.com/sudaraka94/preventing-malicious-linking-plugin
[submodule "plugins/discourse-auto-suspend"]
	path = plugins/discourse-auto-suspend
	url = https://github.com/davidtaylorhq/discourse-auto-suspend
[submodule "plugins/discourse-elections"]
	path = plugins/discourse-elections
	url = https://github.com/angusmcleod/discourse-elections
[submodule "plugins/discourse-prometheus"]
	path = plugins/discourse-prometheus
	url = https://github.com/discourse/discourse-prometheus
[submodule "plugins/discourse-topic-trade-buttons"]
	path = plugins/discourse-topic-trade-buttons
	url = https://github.com/jannolii/discourse-topic-trade-buttons
[submodule "plugins/discourse-category-lockdown"]
	path = plugins/discourse-category-lockdown
	url = https://github.com/davidtaylorhq/discourse-category-lockdown
[submodule "plugins/discourse-simple-unread"]
	path = plugins/discourse-simple-unread
	url = https://github.com/davidtaylorhq/discourse-simple-unread
[submodule "plugins/discourse-dev-login"]
	path = plugins/discourse-dev-login
	url = https://github.com/davidtaylorhq/discourse-dev-login
[submodule "plugins/discourse-zendesk-plugin"]
	path = plugins/discourse-zendesk-plugin
	url = https://github.com/discourse/discourse-zendesk-plugin
[submodule "plugins/discourse-custom-activity-summary-template"]
	path = plugins/discourse-custom-activity-summary-template
	url = https://github.com/muhlisbc/discourse-custom-activity-summary-template
[submodule "plugins/discourse-googlebooks"]
	path = plugins/discourse-googlebooks
	url = https://github.com/netdeamon/discourse-googlebooks
[submodule "plugins/discourse-plugin-discord-auth"]
	path = plugins/discourse-plugin-discord-auth
	url = https://github.com/discourse/discourse-plugin-discord-auth
[submodule "plugins/discourse-menu-icon"]
	path = plugins/discourse-menu-icon
	url = https://github.com/VonLion/discourse-menu-icon
[submodule "plugins/discourse-bbcode"]
	path = plugins/discourse-bbcode
	url = https://github.com/discourse/discourse-bbcode
[submodule "plugins/discourse-avatar-name-first-letter"]
	path = plugins/discourse-avatar-name-first-letter
	url = https://github.com/pfaffman/discourse-avatar-name-first-letter
[submodule "plugins/discourse-plugin-composer-help-button"]
	path = plugins/discourse-plugin-composer-help-button
	url = https://github.com/cpradio/discourse-plugin-composer-help-button
[submodule "plugins/discourse-invite-tokens"]
	path = plugins/discourse-invite-tokens
	url = https://github.com/discourse/discourse-invite-tokens
[submodule "plugins/discourse-plugin-profile-notes"]
	path = plugins/discourse-plugin-profile-notes
	url = https://github.com/ligthyear/discourse-plugin-profile-notes
[submodule "plugins/discourse-plugin-vb-emoticons"]
	path = plugins/discourse-plugin-vb-emoticons
	url = https://github.com/cpradio/discourse-plugin-vb-emoticons
[submodule "plugins/8824566"]
	path = plugins/8824566
	url = https://gist.github.com/cfstras/8824566
[submodule "plugins/discourse-mark"]
	path = plugins/discourse-mark
	url = https://github.com/sirideain/discourse-mark
[submodule "plugins/procourse-static-pages"]
	path = plugins/procourse-static-pages
	url = https://github.com/procourse/procourse-static-pages
[submodule "plugins/discourse-league"]
	path = plugins/discourse-league
	url = https://github.com/discourse-league/discourse-league
[submodule "plugins/discourse-voice-record"]
	path = plugins/discourse-voice-record
	url = https://github.com/synweap15/discourse-voice-record
[submodule "plugins/discourse-post-read-email"]
	path = plugins/discourse-post-read-email
	url = https://github.com/mozilla/discourse-post-read-email
[submodule "plugins/discourse-footnote"]
	path = plugins/discourse-footnote
	url = https://github.com/discourse/discourse-footnote
[submodule "plugins/discourse-full-screen-videos-plugin"]
	path = plugins/discourse-full-screen-videos-plugin
	url = https://github.com/procourse/discourse-full-screen-videos-plugin
[submodule "plugins/discourse-pwned-passwords"]
	path = plugins/discourse-pwned-passwords
	url = https://github.com/featheredtoast/discourse-pwned-passwords
[submodule "plugins/discourse-file-attachment-whisper"]
	path = plugins/discourse-file-attachment-whisper
	url = https://github.com/HMSAB/discourse-file-attachment-whisper.git
[submodule "plugins/discourse-shadowban"]
	path = plugins/discourse-shadowban
	url = https://github.com/notriddle/discourse-shadowban
[submodule "plugins/discourse-mermaid"]
	path = plugins/discourse-mermaid
	url = https://github.com/unfoldingWord-dev/discourse-mermaid
[submodule "plugins/discourse-policy"]
	path = plugins/discourse-policy
	url = https://github.com/discourse/discourse-policy
[submodule "plugins/discourse-moderator-extension"]
	path = plugins/discourse-moderator-extension
	url = https://github.com/angusmcleod/discourse-moderator-extension
[submodule "plugins/discourse-legal-tools"]
	path = plugins/discourse-legal-tools
	url = https://github.com/angusmcleod/discourse-legal-tools
[submodule "plugins/discourse-topic-limit"]
	path = plugins/discourse-topic-limit
	url = https://github.com/TomGrobbe/discourse-topic-limit
[submodule "plugins/discourse-private-topic"]
	path = plugins/discourse-private-topic
	url = https://github.com/HMSAB/discourse-private-topic.git
[submodule "plugins/discourse-staff-topic-generation"]
	path = plugins/discourse-staff-topic-generation
	url = https://github.com/HMSAB/discourse-staff-topic-generation.git
[submodule "plugins/discourse-email-extraction"]
	path = plugins/discourse-email-extraction
	url = https://github.com/HMSAB/discourse-email-extraction
[submodule "plugins/discourse-favorites"]
	path = plugins/discourse-favorites
	url = https://github.com/nbianca/discourse-favorites
[submodule "plugins/discourse-mailgun"]
	path = plugins/discourse-mailgun
	url = https://github.com/reallyreally/discourse-mailgun
